name: Build and test with setup-dune

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**" # This will match pull requests targeting any branch

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup dune
        uses: mbarbin/setup-dune@17be69a504ccb0bb337be7948ebe4761a9d02c45 # repkg
        with:
          steps: all
